@using System.Collections.Generic
@using MetricDashboard.Data.Models
@using Radzen.Blazor

<RadzenRadialGauge Style="@Style">
    <RadzenRadialGaugeScale StartAngle="-150" EndAngle="150" Step="@Settings.Step" Min="@Settings.Start"
                            Max="@Settings.End" TickPosition=GaugeTickPosition.Inside>
        <RadzenRadialGaugeScalePointer  Value="@ClampedPointerValue" Length="1" ShowValue="true">
            <Template Context="pointer">

            </Template>
        </RadzenRadialGaugeScalePointer>
        @{
            foreach (var colorRange in Settings.ColorRanges)
            {
                <RadzenRadialGaugeScaleRange From="@colorRange.From" To="@colorRange.To" Fill="@colorRange.Color.ToString()" />
            }
        }
    </RadzenRadialGaugeScale>
</RadzenRadialGauge>
<h4 style="text-align:center;">
    @PointerValue.ToString("N1") <sub>@Settings.PointerUnits</sub>
</h4>

@code {
    [Parameter]
    public RadialSettings Settings { get; set; }
    [Parameter]
    public string Style { get; set; }
    [Parameter]
    public double PointerValue { get; set; }
    double ClampedPointerValue => Math.Max(Math.Min(Settings.End, PointerValue), Settings.Start);
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Settings ??= new();
    }


}
